*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    background-color: hsl(226, 43%, 10%);
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}
.grid-item{
    border-radius: 5px;
}
.jeremy{
    grid-row: 1 /span 2;
}
.jeremy-top{
    color: #fff;
    padding: 2rem;
    border-radius: 5px;
    background-color: hsl(195, 74%, 62%);
}
.jeremy-bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1rem;
    color: #fff;
    background-color: hsl(235, 46%, 20%);

}
.profile img{
    height: 3rem;
}
.item-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: end;
    padding: 0.5rem;
    display: flex;
    height: 2rem;
}
.item-top img{
    height: 1.5rem;
}
.item-bottom{
    color: #fff;
    padding: 1rem;
    background-color: hsl(235, 46%, 20%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.work-top{
    background-color: hsl(15, 100%, 70%);
}
.play-top{
    background-color: hsl(195, 74%, 62%);
}
.study-top{
    background-color: hsl(348, 100%, 68%);
}
.exercise-top{
    background-color:  hsl(145, 58%, 55%);
}
.social-top{
    background-color: hsl(264, 64%, 52%);
}
.selfcare-top{
    background-color: hsl(43, 84%, 65%);
}
@media screen and (orientation: portrait) {
    body{
        padding: 1rem;
        display: block;
    }
    .container,.jeremy-top,.jeremy-bottom,.time{
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;
    }
    .container{
        flex-direction: column;
    }
    .jeremy-top{
        justify-content: flex-start;
    }
    .time{
        margin-top: 1rem
    }
 
}